// здесь лежат общие стили. 
.container {
        width: 100%;
        margin: 0 auto;
        background-color: $black;
}

.crumbs {
        width: 100%;
        height: 148px;
        background-color: #F8F3F4;
}

.crumbs-title {
        padding-left: 230px;
        padding-top: 59px;
        text-transform: uppercase;
        @include font(normal, 24px, 29px);
        color: $textred;
}