// здесь лежат общие стили. 
.container {
        width: 100%;
        margin: 0 auto;
        background-color: $black;
}


.page-index__content::before {
        width: 12px;
        height: 92px;
        background-color: $textred;
        content: '';
        position: absolute;
        left: -40px;
        top: 10px;
}

.header__logo :hover,
.header__search :hover,
.header__list :hover,
.header__mypage :hover,
.header__basket :hover,
.advantages__box :hover,
.fot__holder-facebook:hover,
.fot__holder-instagram:hover,
.fot__holder-p:hover,
.fot__holder-twiter:hover,
.button-red:hover,
.registration__form-modal:hover,
.registration__form-button:hover,
.fot__email:hover {
        background: #a6f53e;
        background-size: 100%;
        opacity: 0.4;
}

.header__logo :active,
.header__search :active,
.header__list :active,
.header__mypage :active,
.header__basket :active,
.advantages__box :active,
.fot__holder-facebook:active,
.fot__holder-instagram:active,
.fot__holder-p:active,
.fot__holder-twiter:active,
.button-red:active,
.registration__form-modal:active,
.registration__form-button:active {
        background: #F16D7F;
        background-size: 100%;
        opacity: 0.9;
}

.fot__email:focus {
        outline: 4px solid $textred;
}

.list-intem-second__tiny-button,
.list-intem__tiny-button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 138px;
        height: 43px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $white;
        border: 1px solid $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -25%);
        background: rgba(0, 0, 0, 0.2);
        display: none;
}

.list-intem-second__tiny-overlay,
.list-intem__tiny-overlay {
        position: relative;
        width: 100%;
}

.list-intem-second__tiny-overlay::before,
.list-intem__tiny-overlay::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        display: none;
}

.list-intem-second-img,
.list-intem__tiny-img {
        width: 100%;
}

.list-intem-second__tiny:hover .list-intem-second__tiny-overlay::before,
.list-intem-second__tiny:hover .list-intem-second__tiny-button,
.list-intem__tiny:hover .list-intem__tiny-button,
.list-intem__tiny:hover .list-intem__tiny-overlay::before {
        display: block;
}

.page-index__nav {
        display: none;
}

.show {
        display: block;
}