@mixin flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
}

@mixin font ($weight, $size, $height) {
        font-family: $font-lato;
        font-style: normal;
        font-weight: $weight;
        font-size: $size;
        line-height: $height;
        color: $black;
}