.cart {
        width: 100%;
        height: 998px;
        display: flex;
        justify-content: space-between;

        &__hide {
                display: none;
        }
}

.cart__intem {
        margin-top: 96px;
        margin-left: 230px;
        display: flex;
        flex-direction: column;

        &-wrp {
                display: flex;
                justify-content: space-around;
        }

        &-img {
                width: 262px;
                height: 306px;
        }

        &-list {
                width: 652px;
                height: 306px;
                display: flex;
                filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
                background: #FFFFFF;
        }

        &-list-second {
                margin-top: 40px;
                width: 652px;
                height: 306px;
                display: flex;
                filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
                background: #FFFFFF;
        }
}

.cart__form {
        margin-top: 113px;
        margin-right: 230px;
        margin-left: 128px;
        display: flex;
        flex-direction: column;
}